*.pyc
.idea
*.xml
data/.DS_Store
data/celebA/.DS_Store
data/wider_face/.DS_Store
data/wider_face/wider_face_split.zip
data/wider_face/WIDER_test.zip
data/wider_face/WIDER_train.zip
data/wider_face/WIDER_train/.DS_Store
data/wider_face/WIDER_train/images/.DS_Store
data/wider_face/WIDER_val.zip
.idea/workspace.xml
data/.DS_Store
data/celebA/.DS_Store
.DS_Store
